@import "node_modules/bootstrap/scss/bootstrap";
@import "./lightbox";
//Responsive typography

html {
  font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}

// NAV
.navbar-wrap {
	background-color: rgba(255,255,255,0.8);
}

// Landing image
header {
	.landing-section {
		.main-desc {
			font-size: 3rem;
		}
	}

	.img-main-wrap {
		height: 750px;
		overflow: hidden;
		.img-main {
			object-fit: contain;
			max-width: 100%;
		}
	}
}


@media (max-width: 480px) {
	header .img-main-wrap {
		height: 450px;
	}
}


/// GALLERY
.gallery__wrap {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-template-rows: repeat(auto-fit, 350px);



	.gallery__slide {
		overflow: hidden;

		.thumbnail {
			object-fit: cover;
			height: 100%;
			width: 100%;

			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

//VIDEO REEL
.reel-container {
	.video-wrap {
	    position: relative;
	    padding-bottom: 56.25%; /* 16:9 */
	    padding-top: 25px;
	    height: 0;
	}
	.video-wrap iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

// CONTACTS
.contacts-email {
	border-right: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
}

svg {
	fill: #212529;
	width: 60px;
}


@media (max-width: 768px) {

	.gallery__wrap {
	    display: flex;
	      flex-flow:row;
	    overflow-x: auto;
		width:100%;

		.gallery__slide {
			min-width: 200px;
			padding: 5px;
		}
	}

	.contacts-email  {
		border-top: 1px solid #dee2e6;
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid #dee2e6;
	}

	svg {
		width: 40px;
	}
}


//SCROLL INDICATOR

.scroll-indicator {
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #666;
  width: 0%;
}


/// AUDIO REEL

.audio-reel-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

	.audio-file-wrap {
		margin: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.audio-file {
		margin: 10px;
	}
}
